<% provide(:title, "My profile") %>

<div class="jumbotron">
  <div class="container">
<h1> <%= current_user.full_name %> </h1>
  <p><%= current_user.bio %></p>
  <p> Email: <%= current_user.email %> </p>
  <p><%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
  
</div>