<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-xs-6 col-sm-3 col-sm-offset-4">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-check">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <br>
    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-secondary"%>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
  </div>
</div>

