<%= render 'shared/errors' %>

<div class="row">
 <div class="col-xs-12">
  <%= form_for([:user, @post], :html => {class: "form-horizontal", role: "form"}) do |f| %>

  <div class="form-group">
   <div class="control-label col-sm-2">
    <%= f.label :title %>
   </div>
   <div class="col-sm-6">
    <%= f.text_field :title, class: "form-control", placeholder: "Title of post", autofocus: true %>
   </div>
  </div>

  <div class="form-group">
   <div class="control-label col-sm-2">
    <%= f.label :content %>
   </div>
   <div class="col-sm-6">
    <%= f.text_area :content, rows: 28, class: "form-control tinymce", placeholder: "Body of post" %>
    <%= tinymce %>
    <%= f.text_field :tag_list, class:"form-control", placeholder: "Tags separated with comma" %>
   </div>
  </div>

  <div class="form-group">
   <div class="control-label col-sm-2">
     <%= f.label :image %>
   </div>
   <div class="col-sm-4">
     <%= f.file_field :image, class: "file-input" %>
   </div>
  <div>

  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit class: 'btn btn-primary btn-large' %>
   </div>
  </div>

  <% end %>
 </div>
</div>

