<% provide(:title, "Home") %>

<h1 align="center">My posts</h1>
<div align="center">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><%= link_to "Latest", user_posts_path(order: 'latest') %></button>
      <button type="button" class="btn btn-default"><%= link_to "Oldest", user_posts_path(order: 'oldest') %></button>
      <button type="button" class="btn btn-default"><%= link_to "Popular", user_posts_path(:popular) %></button>
    </div>
</div>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="well well-sm">

          <div class="post-title">
            <h2><%= link_to post.title, user_post_path(post) %><h2>
          </div>

          <div class="post-body">
            <%= truncate(post.content, length: 175) %>
          </div>

          <hr>
          <p> <%= post.user.full_name%>, <i> <%= post.created_at.strftime("#{post.created_at.day.ordinalize} %B %Y") %> </i> </p>
        </div>

        <% if post.tags.any? %> 
          <% post.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
            <br>
          <% end %>
        <% end %>

        <ol class="breadcrumb">
          <li><%= post.ratings.count %> <%= (post.ratings.count) == 1 ? 'Like' : 'Likes'%></li>
        </ol>
        
        <hr>
        <div class="post-actions">
          <% if current_user && post.user == current_user %>
            <%= link_to "Edit", edit_user_post_path(post), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete", user_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: "btn btn-xs btn-danger" %>
          <% end %>        
        </div>
      </div>
    </div>
  </div>
<% end %>

<div align="center">
  <%= will_paginate @posts%>
</div>

