<% provide(:title, "View post") %>

<h2 align="center"><%= @post.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <div class="well well-sm">
    <%= simple_format(@post.content) %>

    <!-- Image -->
    <% if @post.image? %> 
      <hr>
      <%= image_tag (@post.image.url) %>
    <% end %>

    <hr>
    
    <p> <%= @post.user.full_name%>, <i> <%= @post.created_at.strftime("#{@post.created_at.day.ordinalize} %B %Y") %> </i> </p>
  </div>

  <!-- Tags -->
  <% if @post.tags.any? %> 
    <% @post.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
      <br>
    <% end %>
  <% end %>
  

  <!-- Ratings -->
  <ol class="breadcrumb">
  <% if signed_in? %>
      <% pre_like = @post.ratings.find { |rating| rating.user_id == current_user.id} %>
      <% if pre_like %>
        <li><%= button_to 'Unlike', user_post_rating_path(@post, pre_like), method: :delete, class:"btn btn-xs btn-danger" %></li>
      <% else %>
        <li><%= button_to 'Like', user_post_ratings_path(@post), method: :post, class:"btn btn-xs btn-primary" %></li>
      <% end %>
    <% end %>
    <li><%= @post.ratings.count %> <%= (@post.ratings.count) == 1 ? 'Like' : 'Likes'%></li>
  </ol>
  
  <hr>

  <%= link_to 'Back', posts_path, class: "btn btn-xs btn-success" %> |
  <% if current_user && @post.user == current_user %>
    <%= link_to "Edit", edit_user_post_path(@post), class: "btn btn-xs btn-primary" %> |
    <%= link_to "Delete", user_post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>
  <% end %>
</div>