<% provide(:title, "Home") %>

<h1 align="center">All posts</h1>
<div align="center">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><%= link_to "Latest", posts_path(order: 'latest') %></button>
      <button type="button" class="btn btn-default"><%= link_to "Oldest", posts_path(order: 'oldest') %></button>
      <button type="button" class="btn btn-default"><%= link_to "Popular", posts_path(:popular) %></button>
    </div>
</div>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="well well-sm">

          <div class="post-title">
            <h2><%= link_to post.title, post_path(post) %></h2>
          </div>

          <div class="post-body">
            <%= truncate(post.content, length: 175) %>
          </div>
          <hr>
          <p><%= post.user.full_name%>, <i> <%= post.created_at.strftime("#{post.created_at.day.ordinalize} %B %Y") %> </i></p>
        </div>

          <% if post.tags.any? %> 
            <% post.tags.each do |tag| %>
              <%= link_to tag.name, tag_path(tag) %>
              <br>
            <% end %>
          <% end %>

        <!-- Ratings -->
        <ol class="breadcrumb">
          <% if user_signed_in? %>
            <% pre_like = post.ratings.find { |rating| rating.user_id == current_user.id} %>
              <% if pre_like %>
                <li><%= button_to 'Unlike', user_post_rating_path(post, pre_like), method: :delete, class:"btn btn-xs btn-danger" %></li>
              <% else %>
                <li><%= button_to 'Like', user_post_ratings_path(post), method: :post, class:"btn btn-xs btn-primary" %></li>
              <% end %>
            <li><%= post.ratings.count %> <%= (post.ratings.count) == 1 ? 'Like' : 'Likes'%></li>
            <% else %>
              <li><%= post.ratings.count %> <%= (post.ratings.count) == 1 ? 'Like' : 'Likes'%></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
<% end %>

<div align="center">
  <%= will_paginate @posts%>
</div>

