<% provide(:title, "Search results") %>

<h1 align="center">Search results</h1>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="well well-sm">

            <div class="post-title">
              <h2><%= link_to post.title, user_post_path(post) %><h2>
            </div>

            <div class="post-body">
              <%= truncate(post.content, length: 175) %>
            </div>

            <hr>
            <p> <%= post.user.full_name%>, <i> <%= post.created_at.strftime("#{post.created_at.day.ordinalize} %B %Y") %> </i> </p>
          </div>

          <% if post.tags.any? %> 
            <p>Tags: <%= link_to post.tag_list, user_post_path(post) %></p>
          <% end %>

          <ol class="breadcrumb">
            <li><%= post.ratings.count %> <%= (post.ratings.count) == 1 ? 'Like' : 'Likes'%></li>
          </ol>
          
        </div>
      </div>
    </div>
  <% end %>

  <div align="center">
    <%= will_paginate @posts%>
  </div>

<% end %>

